.App {
    text-align: center;
    background-color: #282c34;
    background-size: 100% 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: 100vh;
}

main {
   min-width: 100%;
   min-height: 100%;
   padding-top: 50vh;
   padding-bottom: 15vh;
   margin-top: 0vh;
}

div {
    margin-right: 10px;
    background-repeat: repeat-x;
}


.flexbox-container{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.nav {

    vertical-align: text-top;
    display: flex;
    flex-direction: row;
    font-size: calc(5px + 2vmin);
    align-items: center;
    text-decoration: none;

}

nav {
  z-index: 100;
  background-color: #faebd7;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.active{
    color:rgb(102, 59, 2) !important;
    text-decoration: none;
}

.navbar-nav {
  color: rgb(0, 122, 61) !important;
  align-items: center;
  text-decoration: none;
}

.underline {
  text-decoration: none;
}

.attendee_profile{
  max-width: 50%;
  max-height: 50%;
}

td {
  width: 400px;
}

.link {
    color:rgb(102, 59, 2) !important;
    text-decoration: none;
    overflow: hidden;

}

.explore-header{
  position: absolute;
  top: 2%;
  right: 15%;
  left: 15%;

}

.flexbox-explore {
  position: absolute;
  top: 14%;
  left: 32%;
  display: flex;
  flex-direction: row;
  text-decoration: none;

}

.explore-div {
  margin-right: 200px;
  margin-left: 00px;
}

.search-box {
  position: absolute;
  top: 22%;
  left: 45%;
}

.search-button {
  position: absolute;
  top: 22%;
  left: 54.2%;
}

.list-container {
  position: absolute;
  top: 23.68%;
  overflow: hidden;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #faebd7;
  color: rgb(102, 59, 2);

  height: 7%;
}

.footer-text {

 line-height: 1px;
}

.friend-list {
  list-style-type: none;
}
