

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

}


div {
    margin-right: 10px;

}


.flexbox-container{
    display: flex;
    flex-direction: row;
    text-decoration: none;

}

.nav {

    vertical-align: text-top;
    display: flex;
    flex-direction: row;
    font-size: calc(5px + 2vmin);
    align-items: center;
    text-decoration: none;

}

.active{
    color:rgb(102, 59, 2) !important;
    text-decoration: none;
}

.navbar-nav {
  color: rgb(0, 122, 61) !important;
  align-items: center;
  text-decoration: none;
}

.underline {
  text-decoration: none;
}

.attendee_profile{
  max-width: 50%;
  max-height: 50%;
}

td {
  width: 400px;
}

.link {
    color:rgb(102, 59, 2) !important;
    text-decoration: none;
}

.explore-header{
  position: absolute;
  top: 10%;
  right: 15%;
  left: 15%;



}
